@font-face {
    font-family: LittleDays;
    src: url("/static/fonts/littledays.ttf");
}

body, html {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

#base-main {
    height:94%;
}

#base-footer {
    height:6%;
}

input {
    border-radius:0px;
    font-family: 'Raleway', sans-serif;
}

label {
    font-family: 'Raleway', sans-serif;   
    font-weight:400;
}

#main-home {
    height:94%;
    background-image: url('/static/img/mom.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

#terms-and-contact-nav {
    height:6%;
    background-color: #ff7bac;   
    color:white;
    text-align:center;
    padding-top:1.25%;
    font-size:14px;
    font-family: 'Raleway', sans-serif;
}

#how-it-works-nav {
    color:white;
    text-align:center;
    padding-top:6px;
    height:6%;
    padding-top:1.00%;
    background-color: #ff7bac;

}

#how-it-works-text {
    font-size:20px;
    font-family: 'Raleway', sans-serif;
}

#how-it-works {
    height:88%;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color:grey;
}

#testimonial-quote {
    font-family: 'LittleDays';
    color:#ff7bac;
    font-size:24px;
}

#testimonial-quote-div {
    margin-top:7%;
}

#main-logo {
    height:15%;
    font-size:50px;
    font-family: 'LittleDays';
    position:relative;
    font-weight:bold;
    color:black;
    margin-top:5%;
    margin-left:25px;
    z-index:2;
}

#base-main-logo {
    font-size:50px;
    font-family:'LittleDays';
    font-weight:bold;
    color:black;
    z-index:2;
    margin-left:15px;
    margin-top:15px;
}
#white-box {
    height:94%;
    background-color:white;
    opacity:0.60;
    position:absolute;
    z-index:1;
}

#base-main-navbar{
    margin-top:10px;
}

#intro-text {
    position:relative;
    z-index:2;
    color:grey;
    margin-left:25px;
    margin-right:25px;
    line-height:125%;
    font-family: 'Raleway', sans-serif;
    margin-top:7.5%;
}

#intro-text-next {
    margin-top:5%;   
    position:relative;
    z-index:2;
    color:grey;
    margin-left:25px;
    margin-right:25px;
    line-height:125%;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

#enter-zip {
    margin-left:25px;
    position:relative;
    z-index:2;
    margin-top:5%;
}

#zip-text{
    font-size:16px;
    font-family: 'Raleway', sans-serif;
    color:grey;
    font-weight:700;
}

.btn.btn-default.zip-dropdown, .btn.btn-default.search-btn, .btn.btn-default.try-btn {
    border-radius:0px;
    border-color: #ff7bac;
}

.btn.search-btn{
    color:white;
    background-color: #ff7bac;
    padding-left:20px;
    padding-right:20px;
}

.btn.try-btn {
    color:white;
    background-color: #ff7bac;
    width:100%;
    font-size: 24px;
}

.btn.login-btn {
    color:white;
    background-color: #ff7bac;
    width:75%;
    font-size:16px;
}

.btn.logout-btn {
    color:white;
    background-color: #ff7bac;
    width:100%;
    font-size:16px;
}
.btn.save-changes-btn {
    color:white;
    background-color: #ff7bac;
    width:100%;
    font-size:16px;
}

.btn.contact-btn {
    color:white;
    background-color: #ff7bac;
    width:100%;
    font-size:24px;
    font-weight:700;
    margin-top:15px;
}

.navbar.navbar-default {
    background-color:transparent;
    border-color:transparent;
    font-family: 'Raleway', sans-serif;
    color:grey;
    font-weight:500;
    font-size:20px;
}

.navbar.navbar-default .container-fluid {
    margin-right:20px;
    margin-top:20px;
}

#signup-nav {
    border: 1px solid #ff7bac;
}

#how-it-works-icon-1, #how-it-works-icon-2 {
    font-size:24px;
    color:grey;
}

#how-it-works-options {
    margin-top:7%;
}

#try-it-now-div {
    margin-top:5%;
}


.modal-content {
    border: 3px solid #ff7bac;
}

.modal-header {
    border-bottom:0px;
}

.modal-title{
    text-align:center;
}

.two-signup-checkboxes {
    font-family: 'Raleway', sans-serif;
    color:black;   
    font-weight:700;
}

#need-childcare {
    display:block;
}

#offer-childcare-step-2 {
    display:none;
}

#privacy-policy {
 font-family: 'Raleway', sans-serif;   
 font-size:12px;
}

.btn.btn-submit{
    color:white;
    background-color: #ff7bac;
    font-size:14px;   
    font-family: 'Raleway', sans-serif;   
    font-weight:700;
}

#privacy-link, #terms-link {
    color:#ff7bac;
}

#form-validation-alert, #form-validation-login-alert{
    color:red;
    text-align:center;
    font-family: 'Raleway', sans-serif;   
    display: none;
}

#offer-childcare-step-2 {
    font-family: 'Raleway', sans-serif;   
}

#preferred-ages-checkboxes {
    margin-top:6px;
}

#childhood-experience-years {
    margin-top:6px;
    margin-left:-22px;
    float:left;
}

#base-nav {
 height:13%;   
}

#base-body {
    height:85%
}

#search-tagline{
    text-align:center;
}

#num-results-search {
    color:#ff7bac;
}

#search-tagline-text span{
    padding-top:5px;
}

#map {
    float: left;
    height:550px;
    z-index:10;
    width:100%;
    float:right;

}

#price-filter {
    font-family: 'Raleway', sans-serif;      
}

#value-min, #value-max{
    font-weight:700;
}

.noUi-connect {
    background:#ff7bac;
}

.map-info-content h1{
    margin-top:5px;
}

.map-info-content h2{
    margin-top:0px;
}

.map-info-content h3{
    margin-top:5px;
}

.map-info-content {
  min-width: 250px;
  overflow: hidden; }
  .map-info-content .sitter-info {
    display: block;
    overflow: hidden;
    width: 100%; }
  .map-info-content .text {
    float: left; }
  .map-info-content .salary {
    float: right;
    width: 44px;
    height: 44px;
    padding-top: 10px;
    text-align: center;
    background: #eee;
    /*border-radius: 44px;*/
    font-size: 10px; }
    .map-info-content .salary .money {
      font-weight: 400;
      display: block; }
  .map-info-content .firstHeading {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0; }
  .map-info-content .secondHeading {
    font-size: 12px;
    margin-bottom: 5px; }
  .map-info-content .view-profile {
    background: #ff7bac;
    display: block;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px; }
    .map-info-content .view-profile:hover {
      cursor: pointer;
}
#profile-header {
    color:#ff7bac;
}

.profile {
    font-family: 'Raleway', sans-serif;         
}

#profile-name {
    font-size:60px;
    color:black;
}

#profile-info h3, h2{
    margin-bottom:0px;
    margin-top:10px;
}

#profile-header h3{
    margin:3px;
    color:black;
}

#profile-attributes span{
    color:#ff7bac;
}

#login-email, #login-password {
    border-radius:0;
    border: 2px solid #ff7bac;
}

#further-proceed-alert{
  color:green;
  text-align:center;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#pic-holder {
  border: 1px solid #ff7bac;
  width:250px;
  height:250px;
  border-radius: 12px;
  padding-left:12px;
  text-align: left;
  white-space: nowrap;
  color:#ff7bac;
}

#pic-holder-2 {
  border: 1px solid #ff7bac;
  width:80px;
  height:80px;
  border-radius: 12px;
  padding-left:6px;
  text-align: left;
  white-space: nowrap;
  color:#ff7bac;
}

#image-preview {
  margin-top:8px;
  margin-left:-2px;
}

#upload-photo {
    display:none;
}

.saved-text {
  color: #57ad5c;
  display:none;
}

#image-preview {
  display:none;
}

#profile-intro {
    width:100%; border-radius:4px; border: 1px solid grey;
    font-family: 'Raleway', sans-serif;         
    height:100px;
}

textarea {
   font-family: 'Raleway', sans-serif;
} 