@font-face {
    font-family: LittleDays;
    src: url("/static/fonts/littledays.ttf");
}

body, html {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

input {
    border-radius:0px;
}

label {
    font-family: 'Raleway', sans-serif;   
    font-weight:400;
}

#main-home {
    height:94%;
    background-image: url('/static/img/mom.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}

#terms-and-contact-nav {
    height:6%;
    background-color: #ff7bac;   
    color:white;
    text-align:center;
    padding-top:0.75%;
    font-size:14px;
    font-family: 'Raleway', sans-serif;
}

#how-it-works-nav {
    color:white;
    text-align:center;
    padding-top:6px;
    height:6%;
    background-color: #ff7bac;

}

#how-it-works-text {
    font-size:20px;
    font-family: 'Raleway', sans-serif;
}

#how-it-works {
    height:88%;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color:grey;
}

#testimonial-quote {
    font-family: 'LittleDays';
    color:#ff7bac;
    font-size:24px;
}

#testimonial-quote-div {
    margin-top:7%;
}

#main-logo {
    height:15%;
    font-size:50px;
    font-family: 'LittleDays';
    position:relative;
    font-weight:bold;
    color:black;
    margin-top:30px;
    margin-left:25px;
    z-index:2;
}
#white-box {
    height:94%;
    background-color:white;
    opacity:0.60;
    position:absolute;
    z-index:1;
    
}

#intro-text {
    position:relative;
    z-index:2;
    color:grey;
    margin-left:25px;
    margin-right:25px;
    line-height:125%;
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

#enter-zip {
    margin-left:25px;
    position:relative;
    z-index:2;
}

#zip-text{
    font-size:16px;
    font-family: 'Raleway', sans-serif;
    color:grey;
    font-weight:700;
}

.btn.btn-default.zip-dropdown, .btn.btn-default.search-btn, .btn.btn-default.try-btn {
    border-radius:0px;
    border-color: #ff7bac;
}

.btn.search-btn{
    color:white;
    background-color: #ff7bac;
    padding-left:20px;
    padding-right:20px;
}

.btn.try-btn {
    color:white;
    background-color: #ff7bac;
    width:100%;
    font-size:24px;
}



.navbar.navbar-default {
    background-color:transparent;
    border-color:transparent;
    font-family: 'Raleway', sans-serif;
    color:grey;
    font-weight:500;
    font-size:20px;
}

.navbar.navbar-default .container-fluid {
    margin-right:20px;
    margin-top:20px;
}

#signup-nav {
    border: 1px solid #ff7bac;
}

#how-it-works-icon-1, #how-it-works-icon-2 {
    font-size:24px;
    color:grey;
}

#how-it-works-options {
    margin-top:7%;
}

#try-it-now-div {
    margin-top:5%;
}


.modal-content {
    border: 3px solid #ff7bac;
}

.modal-header {
    border-bottom:0px;
}

.modal-title{
    text-align:center;
}

.two-signup-checkboxes {
    font-family: 'Raleway', sans-serif;
    color:black;   
    font-weight:700;
}

#need-childcare {
    display:block;
}

#offer-childcare-step-2 {
    display:none;
}

#privacy-policy {
 font-family: 'Raleway', sans-serif;   
 font-size:12px;
}

.btn.btn-submit{
    color:white;
    background-color: #ff7bac;
    font-size:14px;   
    font-family: 'Raleway', sans-serif;   
    font-weight:700;
}