* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

#wrapper {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 60px; }

footer {
  background: #00bee9;
  position: relative;
  margin-top: -60px;
  height: 20px;
  padding: 20px 0;
  clear: both;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
  footer a, footer p {
    color: white; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
label,
header {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 100; }

h1 {
  font-size: 2.2em;
  line-height: 45px;
  margin-bottom: 5px; }

h2 {
  font-size: 23px;
  font-style: italic; }

.general-nav {
  position: relative;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  z-index: 2; }
  .general-nav ul {
    overflow: hidden;
    padding: 0 20px; }
  .general-nav .menu-trigger {
    display: none;
    background: url("../img/menu.png");
    width: 30px;
    height: 30px; }
  .general-nav .general-nav-item {
    padding: 10px 50px;
    float: right; }
    .general-nav .general-nav-item.active, .general-nav .general-nav-item.active:hover {
      border-bottom: #00bee9 5px solid;
      cursor: default; }
      .general-nav .general-nav-item.active a, .general-nav .general-nav-item.active:hover a {
        cursor: default; }
    .general-nav .general-nav-item:hover {
      border-bottom: rgba(0, 190, 233, 0.3) 5px solid; }
  .general-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4a4b4c;
    font-size: 18px;
    letter-spacing: 0.05em; }
  .general-nav .logo a {
    float: left;
    color: #00bee9;
    font-size: 25px; }

.hero-unit {
  background: #00bee9;
  padding: 60px 0;
  width: 100%; }
  .hero-unit .hero-contents {
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    width: 980px;
    display: table; }
  .hero-unit .hero-text,
  .hero-unit .hero-image {
    width: 465px; }
  .hero-unit .hero-image {
    margin-left: 30px; }
  .hero-unit .hero-text {
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }

.button-group {
  border: 1px solid white;
  width: 352px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden; }
  .button-group a {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    float: left; }
    .button-group a:first-child {
      padding-right: 24px; }
    .button-group a:last-child {
      padding-right: none;
      border-left: 1px solid white; }
    .button-group a:hover {
      background: white;
      color: #00bee9; }

.testimonials {
  width: 910px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  text-align: center; }
  .testimonials h3,
  .testimonials p {
    margin-bottom: 15px; }
  .testimonials h3 {
    text-transform: uppercase; }
  .testimonials p {
    font-style: italic;
    font-size: 15px; }
  .testimonials a {
    color: #00bee9;
    text-decoration: underline; }

em {
  text-decoration: underline; }

strong {
  font-weight: 400;
  font-style: italic; }

.module-background,
.module-unit {
  opacity: 0.0;
  display: none; }

.module-active {
  opacity: 1.0;
  display: block; }

.module-background {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5; }

.module-unit {
  z-index: 10;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  max-width: 92%;
  padding: 30px 2%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 100px;
  overflow: hidden; }
  .module-unit h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px; }

.login {
  width: 300px; }
  .login label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
  .login label,
  .login input {
    display: block;
    margin-bottom: 5px; }
  .login input {
    margin-bottom: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 3%;
    font-size: 14px;
    width: 94%; }
    .login input:focus {
      border-color: #00bee9; }
    .login input.submit-btn {
      background: #00bee9;
      width: 49%;
      float: left;
      color: white; }
      .login input.submit-btn:hover {
        background: #00a7cc;
        cursor: pointer; }
      .login input.submit-btn.last {
        float: right; }

.page-content {
  width: 980px;
  max-width: 96%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  overflow: hidden; }

.page-content-heading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px; }
  .page-content-heading .blue {
    color: #00bee9;
    font-weight: 400; }

.mom-search header {
  margin-bottom: 20px;
  width: 100%; }

.search-form {
  margin: 0 auto;
  width: 273px; }
  .search-form .search-input {
    padding: 3px 3px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #4a4b4c; }
    .search-form .search-input:focus {
      outline: none;
      border: 1px solid #00bee9; }

.filters,
.map {
  float: left;
  height: 500px; }

.map {
  width: 81%; }

.filters {
  width: 16.333%;
  margin-right: 2%; }
  .filters h2 {
    font-weight: 400;
    text-align: center; }
  .filters h6 {
    font-weight: 400;
    margin: 25px 0 10px 0;
    display: block; }
  .filters input[type="range"] {
    width: 100%; }
  .filters input[type="checkbox"] {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 8px; }

.search-results {
  float: left;
  width: 78%; }
  .search-results .result {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    min-width: 60%; }
    .search-results .result .result-heading {
      font-weight: 400;
      line-height: 17px;
      font-size: 20px; }
    .search-results .result .result-subheading,
    .search-results .result .salary,
    .search-results .result .view-profile {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px; }
    .search-results .result .view-profile {
      color: #00bee9; }

.profile-unit header {
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: 20px; }
.profile-unit h1 {
  float: left; }
.profile-unit .location {
  float: right;
  text-align: right; }
  .profile-unit .location h3 {
    margin-bottom: 5px;
    font-size: 18px; }

.profile-card-header {
  overflow: hidden; }

.profile-image,
.profile-info {
  float: left;
  margin-right: 20px;
  height: 200px; }

.profile-image {
  width: 200px;
  background: black; }

.profile-info h4 {
  font-size: 30px;
  line-height: 55px; }
.profile-info h5 {
  font-size: 18px;
  line-height: 29px; }

.profile-card-header,
.profile-intro,
.attributes {
  display: block;
  width: 100%;
  margin-bottom: 20px; }
  .profile-card-header h3,
  .profile-intro h3,
  .attributes h3 {
    font-size: 20px;
    font-weight: 400;
    color: #00bee9;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 30px; }
  .profile-card-header p,
  .profile-intro p,
  .attributes p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px; }

.attributes fieldset {
  float: left;
  margin-right: 20px; }

.action-btn {
  background: #00bee9;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 10px;
  font-size: 15px; }
  .action-btn:hover {
    background: #00a7cc;
    cursor: pointer; }
  .action-btn:focus {
    outline: none; }

.map-info-content {
  min-width: 250px;
  overflow: hidden; }
  .map-info-content .sitter-info {
    display: block;
    overflow: hidden;
    width: 100%; }
  .map-info-content .text {
    float: left; }
  .map-info-content .salary {
    float: right;
    width: 44px;
    height: 33px;
    padding-top: 10px;
    text-align: center;
    background: #eee;
    border-radius: 44px;
    font-size: 10px; }
    .map-info-content .salary .money {
      font-weight: 400;
      display: block; }
  .map-info-content .firstHeading {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0; }
  .map-info-content .secondHeading {
    font-size: 12px;
    margin-bottom: 5px; }
  .map-info-content .view-profile {
    background: #00bee9;
    display: block;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px; }
    .map-info-content .view-profile:hover {
      cursor: pointer;
      background: #00a7cc; }

.basic-form {
  overflow: hidden; }
  .basic-form label,
  .basic-form input {
    float: left;
    margin-right: 15px; }
  .basic-form label {
    width: 30%;
    text-align: right;
    font-size: 18px;
    line-height: 28px; }
  .basic-form fieldset {
    display: block;
    overflow: hidden;
    margin-bottom: 10px; }
  .basic-form input:focus {
    border: 1px solid #00bee9; }
  .basic-form input.error {
    border: 1px solid #f83c34; }
  .basic-form .text-input-small,
  .basic-form .text-input-large,
  .basic-form .number-input,
  .basic-form .date-input,
  .basic-form .textarea-input,
  .basic-form .number-select-input,
  .basic-form .select-input {
    margin-bottom: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px; }
  .basic-form .select-input,
  .basic-form .checkbox {
    margin-top: 6px; }
  .basic-form .text-input-small {
    width: 148px; }
  .basic-form .text-input-large {
    width: 350px; }
  .basic-form .number-select-input {
    width: 50px; }
  .basic-form .number-input {
    width: 20px;
    margin-right: 5px; }
  .basic-form .number-label {
    float: left;
    width: auto;
    font-size: 13px; }
  .basic-form .textarea-input {
    width: 350px;
    height: 200px; }
  .basic-form .action-btn {
    float: none;
    margin: 0 auto;
    min-width: 100px;
    display: block;
    border: 1px solid #4a4b4c; }
  .basic-form .invisible-label {
    visibility: hidden; }
  .basic-form a {
    color: #00bee9;
    text-align: center;
    display: block;
    margin-top: 10px; }
  .basic-form .note {
    text-align: center;
    display: inline;
    display: block;
    margin-top: 20px; }
    .basic-form .note a {
      display: inline; }

.contact-form label {
  width: 175px; }

.back-to-map {
  margin-bottom: 10px; }
  .back-to-map a {
    color: #00bee9; }

.progress {
  display: block;
  margin: 0 auto;
  width: 54px;
  margin-bottom: 20px;
  overflow: hidden; }
  .progress .progress-1 {
    margin-right: 10px; }
  .progress .progress-1,
  .progress .progress-2 {
    width: 20px;
    height: 20px;
    border: 1px solid #4a4b4c;
    float: left;
    border-radius: 20px; }
    .progress .progress-1.active,
    .progress .progress-2.active {
      background: #00bee9; }

@media screen and (max-width: 938px) {
  .general-nav .general-nav-item {
    padding: 10px 30px; }
    .general-nav .general-nav-item a {
      font-size: 15px; }

  .page-content,
  .hero-unit {
    width: 92%;
    padding: 4%;
    box-shadow: none; }

  .filters h6 {
    font-size: 15px; }

  .filters label {
    font-size: 12px; }

  .testimonials {
    border-top: 1px solid #ddd; } }
@media screen and (max-width: 720px) {
  .profile-unit .location,
  .profile-unit h1 {
    display: block;
    float: none;
    text-align: left; }

  .filters,
  .map {
    width: 100%;
    height: auto;
    display: block; }

  .map {
    margin-top: 15px;
    height: 500px; }

  .general-nav {
    box-shadow: none;
    margin-bottom: 30px; }
    .general-nav .logo {
      width: 96%;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      padding: 10px 2%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      overflow: hidden;
      height: 30px; }
      .general-nav .logo a {
        float: left; }
      .general-nav .logo .menu-trigger {
        display: block;
        float: right; }
        .general-nav .logo .menu-trigger:hover {
          opacity: 0.5; }
    .general-nav.active .general-nav-item {
      display: block; }
    .general-nav .general-nav-item {
      display: block;
      float: none;
      padding: 10px 32px 10px 0;
      overflow: hidden;
      display: none; }
      .general-nav .general-nav-item:last-child {
        border-bottom: 1px solid #ddd; }
      .general-nav .general-nav-item.first {
        margin-top: 40px; }
      .general-nav .general-nav-item a {
        font-size: 18px;
        float: right; }
      .general-nav .general-nav-item.active, .general-nav .general-nav-item.active:hover {
        border: none;
        border-right: 22px solid #00bee9;
        padding-right: 10px; }
        .general-nav .general-nav-item.active:hover, .general-nav .general-nav-item.active:hover:hover {
          cursor: default; }
      .general-nav .general-nav-item:hover {
        border: none;
        border-right: 22px solid rgba(0, 190, 233, 0.3);
        padding-right: 10px; }

  .page-content,
  .hero-unit {
    width: 92%;
    padding: 4%; }

  .hero-unit {
    background: #00bee9; }
    .hero-unit .hero-contents {
      width: 100%;
      padding: 0; }
    .hero-unit .hero-text,
    .hero-unit .hero-image {
      display: block;
      margin: 0;
      width: 100%; }
    .hero-unit .hero-image {
      margin: 15px auto; }
    .hero-unit .hero-text h1 {
      line-height: 37px; }
    .hero-unit .hero-text h2 {
      line-height: 28px; }
    .hero-unit .button-group {
      margin-top: 15px;
      width: 96%; }
      .hero-unit .button-group a {
        width: 48.5%;
        padding: 10px 0;
        background: none; } }
@media screen and (max-width: 618px) {
  .basic-form .text-input-small,
  .basic-form .text-input-large,
  .basic-form .number-input,
  .basic-form .date-input,
  .basic-form .textarea-input,
  .basic-form .number-select-input,
  .basic-form .select-input {
    padding: 1%;
    margin-right: 1%;
    max-width: 60%; }
  .basic-form .text-input-large {
    width: 60%;
    margin-right: 0; }
  .basic-form .text-input-small {
    width: 28%; } }
.ui-corner-all {
  height: 10px; }

.ui-slider-range.ui-widget-header.ui-corner-all {
  background: #00bee9; }

.ui-slider-handle.ui-state-default.ui-corner-all {
  height: 20px;
  width: 20px;
  background: white; }
  .ui-slider-handle.ui-state-default.ui-corner-all:focus {
    border: 1px solid #00bee9;
    outline: none; }

.slider-text {
  margin-bottom: 15px; }
