<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <title>MomSitting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Elizabeth Lin">
    <link href="/static/css/new_style.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="main-home"> 
      <div class="row">
        <div id="white-box" class="col-md-5">          
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div id="main-logo">
            <p>Momsitting</p>
          </div>

          <h1 id="intro-text"> 
          Childcare by moms like you, near you
          </h1>
          <br>
          
          <h3 id="intro-text">
            Day cares are impersonal <br>
            & expensive, so let's <br>
            make childcare motherly<br>
            & affordable.
          </h3>
          <br>
          <br>

          <div id="enter-zip" class="row">
            <span id="zip-text"> Zip: </span>
            <div class="btn-group">
              <button type="button" class="btn btn-default zip-dropdown dropdown-toggle" data-toggle="dropdown">
                20010 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">20010</a></li>
              </ul>
            </div>
            &nbsp;
            <button type="button" class="btn btn-default search-btn">Search</button>
          </div>

        </div>
        
        <div class="col-md-7">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Blogs</a></li>
                  <li><a href="#">Login</a></li>
                  <li><a id="signup-nav" href="#">Sign Up</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      
      </div>
    </div>
    <a href="#how-it-works-nav" style="text-decoration:none">
      <div id="how-it-works-nav"> 
        <span id="how-it-works-text"> 
          How it works &nbsp;
        </span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </a>

    <div id="how-it-works">
        <div class="container-fluid">
          <div id="how-it-works-options" class="row">
            <div class="col-md-6 col-xs-12">
              <div id="how-it-works-icon-1">
                <span class="glyphicon glyphicon-time"></span>
              </div>
              <h2>
                I need childcare
              </h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h4>
                    Search for Moms near you. Find the right fit
                    and be on your way to motherly, affordable, childcare
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div id="how-it-works-icon-2">
                <span class="glyphicon glyphicon-heart-empty"></span>
              </div>
              <h2>
                I can offer childcare
              </h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h4>
                    Create a profile with us in minutes. Connect with other Moms
                    and start offering motherly childcare.
                  </h4>
                </div>
            </div>
          </div>
        </div>
        <div id="testimonial-quote-div" class="row">
          <div id="testimonial-quote">
            <div class="col-md-10 col-md-offset-1">
              "There's no one I feel more comfortable with caring for my children than a fellow mom"
            </div>
          </div>
        </div>
        <div id="try-it-now-div" class="row">
          <div class="col-md-4 col-md-offset-4">
            <button type="button" class="btn btn-default try-btn">Try it now</button>     
          </div>
        </div>
      </div>
    </div>
    <div id="terms-and-contact-nav"> 
      <div class="row">
        <div class="col-xs-6 col-md-6">
          Terms of use
        </div>
        <div class="col-xs-6 col-md-6">
          Contact us
        </div>
      </div>
    </div>
  </body>
  <footer>
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/momsitting.js"></script>
  </footer>
</html>