<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html" charset="utf-8">
    <title>MomSitting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Elizabeth Lin">

    <link href="/static/css/reset.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <script type="text/javascript" src="/static/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/scripts/momsitting.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        <nav class="general-nav">
          <ul>
            <li class="logo">
              <a href="/">Momsitting</a>
              <a href="javascript:void(0)" class="menu-trigger"></a>
            </li>
            <li class="general-nav-item first">
              <a href="javascript:void(0)" id="login">Login</a>
            </li>
            <li class="general-nav-item">
              <a href="blog.html">Blog</a>
            </li>
            <li class="general-nav-item">
              <a href="/search">Search</a>
            </li>
            <li class="active general-nav-item">
              <a href="javascript:void(0)">How it works</a>
            </li>
          </ul>
        </nav>

        <div class="page-content signup">
          <h1 class="page-content-heading">Final Step: Additional Information</h1>
          <div class="progress">
            <div class="progress-1"></div>
            <div class="progress-2 active"></div>
          </div>
          <form class="basic-form settings-form"> 
            <fieldset>
              <label>Address</label>
              <input type="text" class="error text-input-large" name="address">
            </fieldset>

            <fieldset>
              <label>Languages</label>
              <input type="text" class="text-input-large" name="languages" placeholder="English, Spanish, Gujrati">
            </fieldset>

            <fieldset>
              <label>Weekly Full Time Rate</label>
              <input type="text" class="text-input-small" name="address" placeholder="$0.00">
            </fieldset>

            <fieldset>
              <label>Years of Childcare Experience</label>
              <select class="select-input">
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
            </fieldset>

            <fieldset>
              <label>Preferred Age                
              </label>
              <input type="checkbox" class="checkbox"><label class="number-label">0-2yr</label>
              <input type="checkbox" class="checkbox"><label class="number-label">3-5yr</label>
              <input type="checkbox" class="checkbox"><label class="number-label">6-8yr</label>
              <input type="checkbox" class="checkbox"><label class="number-label">9-11yr</label>
              <input type="checkbox" class="checkbox"><label class="number-label">12+</label>            
            </fieldset>

            <fieldset>
              <label>Attributes <br>
                <span style="font-size:0.5em">(Select all that apply)</span>
              </label>
              <input type="checkbox" class="checkbox"><label class="number-label">Licensed</label>              
              <input type="checkbox" class="checkbox"><label class="number-label">Background Check</label>
              <input type="checkbox" class="checkbox"><label class="number-label">First Aid Certified</label>
              <input type="checkbox" class="checkbox"><label class="number-label">After School Care</label>
              <input type="checkbox" class="checkbox"><label class="number-label">CPR Certified</label>              
              <input type="checkbox" class="checkbox"><label class="number-label">Part Time</label>
              <input type="checkbox" class="checkbox"><label class="number-label">Full Time</label>
            </fieldset>

            <input type="submit" value="Finish Signup" class="action-btn"></input>
            <p class="note">By clicking Finish Signup, you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
          </form>
        </div>

       <!--  <div class="testimonials page-content">
          <h3>Our Testimonials</h3>
          <p>"There's no one I feel more comfortable with caring for my children than a fellow mom."</p>
          <p>"Because she has raised children of her own, I am confident she will be great with my kids"</p>
          <a href="#">Read More</a>
        </div>
 -->
      </div>
    </div>

    <footer>
      <p><a href="#">Terms of Use</a> | <a href="#">Contact Us</a></p>
    </footer>

  </body>
</html>